<div class="container-fluid">
        <div class="row">
                <mat-tab-group>
                        <mat-tab [disabled]="this.isSingleWayBookingConfirmed" label="Depature"></mat-tab>
                        <mat-tab *ngIf= "this.isRoundTrip"[disabled]= "!this.isRoundTripTabEnabled" label="Return"></mat-tab>
                        <mat-tab label="Passanger Details"[disabled]="!this.isUserDetailsTabEnabled"></mat-tab>
                        <mat-tab label="Payment"[disabled]="!this.isPaymentTabEnabled && !isUserDetailsField"></mat-tab>
                </mat-tab-group>
        </div>
        <!--form1-->
        <div *ngIf="!this.isSingleWayBookingConfirmed" class="container-fluid customStyle">
                <table class="table table-hover thead-dark">
                        <thead>
                                 <tr>
                                        <th *ngFor="let col of displayedColumns.data">{{col.displayName}}</th>
                                  </tr>
                        </thead>
                        <tbody>
                                 <tr class="rowContent" *ngFor="let col of singleSearchResults"(click)="onSingleWaySelection(col)">
                                        <th scope="row"><img [src]="col.logoUrl" width="40px" height="40px"></th>
                                        <td class = "text-primary">{{col.airlinename}}</td> 
                                        <td class = "text-primary">{{col.depatureDate}}</td>
                                        <td class = "text-primary">{{col.price}}</td>
                                </tr>
                                          
                        </tbody>
                </table> 
                <button type="button" [disabled] = "!this.selectedSingleWay" class="btn btn-primary"(click)="onSingleWayConfirmation()">Confirm Flight</button>
                              
        </div>
        <!--form2-->
        <div *ngIf="this.isSingleWayBookingConfirmed && !this.isUserDetailsTabEnabled" class="container-fluid customStyle">
                        <table class="table table-hover thead-dark">
                                        <thead>
                                                 <tr>
                                                        <th *ngFor="let col of displayedColumns.data">{{col.displayName}}</th>
                                                  </tr>
                                        </thead>
                                        <tbody>
                                                 <tr class="rowContent" *ngFor="let col of roundSearchResults"(click)="onReturnWaySelection(col)">
                                                        <th scope="row"><img [src]="col.logoUrl" width="40px" height="40px"></th>
                                                        <td class = "text-primary">{{col.airlinename}}</td> 
                                                        <td class = "text-primary">{{col.returnDate}}</td>
                                                        <td class = "text-primary">{{col.price}}</td>
                                                </tr>
                                                          
                                        </tbody>
                                </table> 
                                <button type="button" [disabled] = "!this.selectedReturnWay" class="btn btn-primary"(click)="onReturnWayConfirmation()">Confirm Flight</button>
        </div>
        <!-- <span *ngIf= "!this.isRoundTrip"class="row">
                <mat-tab-group>
                        <mat-tab label="SingleWay"> 
                        </mat-tab>
                </mat-tab-group>
                <div>
                        <table >
                                <thead>
                                        <tr>
                                                        <th>airlinename</th>
                                                        <th>source</th>
                                                        <th>destination</th>
                                        </tr>
                                              
                                </thead>
                                <tbody>
                                        <tr>
                                                <td>
                                                        indigo
                                                </td>
                                                <td>
                                                        hyderabad
                                                </td>
                                                <td>
                                                        bangalore
                                                </td>
                                        </tr>
                                </tbody>
                               
                                
                        </table>

                </div>
        </span> -->
        <!-- <span>
                <mat-tab-group>
                        <mat-tab label="UserDetails"></mat-tab>
                        
                </mat-tab-group>
        </span> -->
        <!-- <span>
                <mat-tab-group>
                        <mat-tab label="Payment"></mat-tab>
                      
                </mat-tab-group>
        </span> -->
</div>
